{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Password Reset Sent | {% endblock %}

{% block page_heading %}Password Reset Sent{% endblock %}

{% block content %}

    <p class="bold italic center-align">We've emailed you instructions for setting your password, if an account 
    exists with the email you entered. You should receive them shortly.</p>

    <p class="bold italic center-align">If you don't receive an email, please make sure you've entered the 
    address you registered with, and check your spam folder.</p>

    <p class="bold italic uppercase center-align">
        <a class="nav-link" href="{% url 'login' %}">Log in</a>
    </p>
        
{% endblock %}