{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Password Reset Complete | {% endblock %}

{% block content %}
    
    <div class="row white z-depth-2 reset-done-wrapper">
        <div class="col s12 confirm-password-wrapper center-align">
            <h3 class="form-title">Password Reset Complete</h3>
            <p class="bold">Thank you, your password has been set. You may go ahead and log in now.</p>
            <p class="bold uppercase italic">
                <a class="nav-link" href="{% url 'login' %}" aria-label="Login Page">Log in</a>
            </p>
        </div>
    </div>

{% endblock %}