{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Password Reset Sent | {% endblock %}

{% block content %}

    <div class="row white z-depth-2 reset-password-wrapper">
        <div class="col s12 confirm-password-wrapper center-align">
            <h3 class="form-title">Password Reset Sent</h3>
            <p class="bold italic">
                We've emailed you instructions for setting your password, if an account
                exists with the email you entered. You should receive them shortly.
            </p>
            <p class="bold italic">
                If you don't receive an email, please make sure you've entered the
                address you registered with, and check your spam folder.
            </p>
            <p class="bold italic uppercase">
                <a class="nav-link" href="{% url 'login' %}">Log in</a>
            </p>
        </div>
    </div>

{% endblock %}