{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}Tickets{% endblock %}

{% block page_heading %}Tickets{% endblock %}

{% block content %}
    
    {% if user.is_authenticated %}
        <div class="row recipe-card card z-depth-1">
            <!-- Log New Bug-->
            <div class="col s12 m6 ingredients">
                <h3 class="card-title center-align">Bugs</h3>
                <p>
                    Noticed an issue?
                    <br>
                    Submit a new Bug Report!
                </p>
                <p>
                    Bug Reports are FREE to open!
                </p>
                <a href="" class="btn waves-effect waves-light sm-md-btn">
                    New Bug
                </a>
            </div>
            <div class="col s12 m6 ingredients">
                <h3 class="card-title center-align">Features</h3>
                <p>
                    Want something new?
                    <br>
                    Submit a new Feature Request!
                </p>
                <p>
                    Feature Requests require a small donation!
                </p>
                <a href="" class="btn waves-effect waves-light sm-md-btn">
                    New Feature
                </a>
            </div>
        </div>
    {% endif %}
    
    <!-- Filter Form -->
    <form id="filter_form" method="POST" action="">
        <ul class="collapsible filter-option">
            <li>
                <div class="collapsible-header filter-header">
                    <h3 class="filter-form-title">
                        <i class="fas fa-filter" aria-hidden="true"></i>
                        Filter
                    </h3>
                </div>
                <div class="collapsible-body collection collapsible-collection filter-body">
                    <!--Helper Text/Instructions-->
                    <div class="col s12">
                        <h6 class="helper">Filter by one or multiple categories.</h6>
                    </div>
                    <div class="row filter-form-wrapper">
                        <!--Ticket Type Category Drop Down-->
                        <div class="input-field col s12 m6">
                            <select id="ticket_type" name="ticket_type" class="form-control validate">
                                <option value="" disabled selected>Type</option>
                            </select>
                            <label for="type">Ticket Type</label>
                        </div>
                        <!--Ticket Status Drop Down-->
                        <div class="input-field col s12 m6">
                            <select id="occasion" name="occasion" class="form-control validate">
                                <option value="" disabled selected>Status</option>
                            </select>
                            <label for="occasion">Ticket Status</label>
                        </div>
                        <!--Submit Button-->
                        <div class="row submit-button-wrapper">
                            <div class="col s6">
                                <button class="btn waves-effect waves-light sm-md-btn" type="submit" aria-label="Filter button">
                                    <span class="hide-on-small-and-down">Filter</span>
                                    <i class="fas fa-filter icon-right" aria-hidden="true"></i>
                                </button>
                            </div>
                            <!--Reset Button-->
                            <div class="col s6">
                                <a class="btn waves-effect waves-light sm-md-btn" href="" aria-label="Reset page button">
                                    <span class="hide-on-small-and-down">Reset</span>
                                    <i class="fas fa-undo-alt icon-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>
    
    <!-- Ticket Cards -->
    <div class="row center-align">
        <a href="" aria-label="Link to ticket details">
            <div class="col s12 m6 recipe-preview-card">
                <div class="card hoverable results-card z-depth-1">
                    <!-- Ticket Title -->
                    <div class="card-title center-align">
                        
                    </div>
                    <!-- Ticket Details -->
                    <div class="card-content center-align">
                        <span>
                            Type: 
                        </span>
                        <span>
                            Status: 
                        </span>
                        <span>
                            Created By: 
                        </span>
                        <span>
                            Description: 
                        </span>
                    </div>
                    <!-- Ticket Quick Stats -->
                    <div class="card-action card-stats">
                        <!-- Views -->
                        <span>
                            <i class="far fa-eye" aria-hidden="true"></i><br>
                            
                        </span>
                        <span>
                            <!-- Upvotes -->
                            <i class="fas fa-thumbs-up" aria-hidden="true"></i><br>
                            
                        </span>
                        <span>
                            <!-- Donations -->
                            <i class="fas fa-pound-sign" aria-hidden="true"></i><br>
                            
                        </span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    
{% endblock %}