{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}
{% load my_tags %}

{% block title %}Tickets{% endblock %}

{% block page_heading %}Tickets{% endblock %}

{% block content %}
    
    {% if user.is_authenticated %}
        <div class="row recipe-card card z-depth-1">
            <!-- Log New Bug-->
            <div class="col s12 m6 ingredients">
                <h3 class="card-title center-align">Bugs</h3>
                <p>
                    Noticed an issue?
                    <br>
                    Submit a new Bug Report!
                </p>
                <p>
                    Bug Reports are FREE to open!
                </p>
                <a href="{% url 'new_bug_ticket' %}" class="btn waves-effect waves-light sm-md-btn">
                    New Bug
                </a>
            </div>
            <div class="col s12 m6 ingredients">
                <h3 class="card-title center-align">Features</h3>
                <p>
                    Want something new?
                    <br>
                    Submit a new Feature Request!
                </p>
                <p>
                    Feature Requests require a small donation!
                </p>
                <a href="" class="btn waves-effect waves-light sm-md-btn">
                    New Feature
                </a>
            </div>
        </div>
    {% endif %}
    
    <!-- Filter Form -->
    <form id="filter_form" method="GET" action="">
        <ul class="collapsible filter-option">
            <li>
                <div class="collapsible-header filter-header">
                    <h3 class="filter-form-title">
                        <i class="fas fa-filter" aria-hidden="true"></i>
                        Filter
                    </h3>
                </div>
                <div class="collapsible-body collection collapsible-collection filter-body">
                    <!--Helper Text/Instructions-->
                    <div class="col s12">
                        <h6 class="helper">Filter by one or multiple categories.</h6>
                    </div>
                    <div class="row filter-form-wrapper">
                        <!--Ticket Type Category Drop Down-->
                        <div class="input-field col s12 m6">
                            <select id="ticket_type" name="ticket_type" class="form-control validate">
                                <option value="" disabled selected>Type</option>
                                {% for type in ticket_type_dropdown %}
                                    <option value="{{ type.id }}">{{ type }}</option>
                                {% endfor%}
                            </select>
                            <label for="type">Ticket Type</label>
                        </div>
                        <!--Ticket Status Drop Down-->
                        <div class="input-field col s12 m6">
                            <select id="ticket_status" name="ticket_status" class="form-control validate">
                                <option value="" disabled selected>Status</option>
                                {% for status in ticket_status_dropdown %}
                                    <option value="{{ status.id }}">{{ status }}</option>
                                {% endfor%}
                            </select>
                            <label for="occasion">Ticket Status</label>
                        </div>
                        <!--Submit Button-->
                        <div class="row submit-button-wrapper">
                            <div class="col s6">
                                <button class="btn waves-effect waves-light sm-md-btn" type="submit" aria-label="Filter button">
                                    <span class="hide-on-small-and-down">Filter</span>
                                    <i class="fas fa-filter icon-right" aria-hidden="true"></i>
                                </button>
                            </div>
                            <!--Reset Button-->
                            <div class="col s6">
                                <a class="btn waves-effect waves-light sm-md-btn" href="{% url 'view_all_tickets' %}" aria-label="Reset page button">
                                    <span class="hide-on-small-and-down">Reset</span>
                                    <i class="fas fa-undo-alt icon-right" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </form>
    
    <!-- Ticket Cards -->
    <div class="row center-align">
        {% for ticket in tickets %}
            <a href="" aria-label="Link to ticket details">
                <div class="col s12 m6 recipe-preview-card">
                    <div class="card hoverable results-card z-depth-1">
                        <!-- Ticket Title -->
                        <div class="card-title center-align">
                            <h3>{{ ticket.title }}</h3>
                        </div>
                        <!-- Ticket Details -->
                        <div class="card-content center-align">
                            <span>
                                Type: {{ ticket.ticket_type }}
                            </span>
                            <span>
                                Status: {{ ticket.ticket_status }}
                            </span>
                            <span>
                                Created By: {{ ticket.user.username }}
                            </span>
                            <span>
                                Description: {{ ticket.description }}
                            </span>
                        </div>
                        <!-- Ticket Quick Stats -->
                        <div class="card-action card-stats">
                            <!-- Views -->
                            <span>
                                <i class="far fa-eye" aria-hidden="true"></i><br>
                                {{ ticket.views }}
                            </span>
                            <span>
                                <!-- Upvotes -->
                                <i class="fas fa-thumbs-up" aria-hidden="true"></i><br>
                                {{ ticket.upvotes }}
                            </span>
                            <span>
                                <!-- Donations -->
                                <i class="fas fa-pound-sign" aria-hidden="true"></i><br>
                                {{ ticket.total_donations }}
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        {% empty %}
            <h4 class="recipe-details-text">
                <span class="recipe-count bold italic">No</span>
                 tickets found!
             </h4>
        {% endfor %}
    </div>
    
    <!-- Pagination - only visible if there are multiple pages -->
    {% if tickets.has_other_pages %}
        <ul class="pagination center-align">
            <!-- Previous/First button - only visible if previous page available -->
            {% if tickets.has_previous %}
                <!-- First page button -->
                <li>
                    <a href="?{% param_replace page=1 %}">
                        <i class="fas fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                </li>
                <!-- Previous page button -->
                <li>
                    <a href="?{% param_replace page=tickets.previous_page_number %}">
                        <i class="fas fa-angle-left" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            
            <!-- Show link to current page and only few other surrounding pages, not all -->
            {% for num in tickets.paginator.page_range %}
                <!-- Show the current page number but disable it -->
                {% if tickets.number == num %}
                    <li class="disabled">
                        <a>
                            {{ num }}
                        </a>
                    </li>
                <!-- Show the 4 surrounding (2 next and 2 previous) pages -->
                {% elif num > tickets.number|add:'-3' and num < tickets.number|add:'3' %}
                    <li>
                        <a href="?{% param_replace page=num %}">
                            {{ num }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            
            <!-- Next/Last button - only visible if previous page available -->
            {% if tickets.has_next %}
                <!-- Next page button -->
                <li>
                    <a href="?{% param_replace page=tickets.next_page_number %}">
                        <i class="fas fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <!-- Last page button -->
                <li>
                    <a href="?{% param_replace page=tickets.paginator.num_pages %}">
                        <i class="fas fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
            
        </ul>
    {% endif %}

{% endblock %}