{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}

{% block page_title %}{{ ticket.title }} | Edit {% if ticket.ticket_type.ticket_type == "Bug" %}Bug{% elif ticket.ticket_type.ticket_type == "Feature" %}Feature{% endif %} | {% endblock %}

{% block content %}
    
    <form method="POST">
        
        {% csrf_token %}
        <!--Ticket Details Card-->
        <div class="row ticket-card card z-depth-1 center-align">
            <!--Card Title-->
            <h3 class="card-title ticket-details-title">
                Edit {{ ticket.ticket_type }}
            </h3>
            <!--Edit Form-->
            <div class="input-field col s12">
                {{ edit_form.title|materializecss:'icon=fas fa-heading' }}
                {{ edit_form.description|materializecss:'icon=fas fa-file-alt' }}
            </div>
            <!--Add and Cancel buttons-->
            <div class="col s12">
                <button class="btn waves-effect waves-light edit-btn standard-btn icon-right" type="submit" aria-label="Edit ticket button">
                    Edit
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </button>
                <a class="btn waves-effect waves-light standard-btn icon-right" type="reset" aria-label="Cancel button" onclick="history.back()">
                    Cancel
                    <i class="fas fa-times-circle" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    
    </form>
    
{% endblock %}