{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}Edit Bug{% endblock %}

{% block content %}
    
    <form method="POST">
        
        {% csrf_token %}
        <!--Ticket Details Card-->
        <div class="row recipe-card card z-depth-1 center-align">
            <!--Card Title-->
            <h3 class="card-title recipe-details-title">
                Edit {{ ticket.ticket_type }}
            </h3>
            <!--Edit Form-->
            <div class="input-field col s12">
                {{ edit_form|materializecss }}
            </div>
    
            <!--Add and Cancel buttons-->
            <div class="col s12">
                <button class="btn waves-effect waves-light edit-btn standard-btn icon-right" type="submit" aria-label="Edit ticket button">
                    Edit
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </button>
                <a class="btn waves-effect waves-light standard-btn icon-right" type="reset" aria-label="Cancel button" onclick="history.back()">
                    Cancel
                    <i class="fas fa-times-circle" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    
    </form>
    
{% endblock %}