{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}New Bug | {% endblock %}

{% block content %}
    
    <div class="row white z-depth-2 add-bug-wrapper">
        <!--New Bug Form-->
        <div id="new_bug" class="col s12">
            <form id="new_bug_form" class="col s12" method="POST">
                <div class="new-bug-wrapper center-align">
                    <h3 class="form-title">New Bug</h3>
                    <div class="row">
                        <div class="col s12">
                            {% csrf_token %}
                            {{ bug_form.title|materializecss:'icon=fas fa-heading' }}
                            {{ bug_form.description|materializecss:'icon=fas fa-file-alt' }}
                        </div>
                        <!--Add and Cancel buttons-->
                        <div class="col s12">
                            <button class="btn waves-effect waves-light add-btn sm-md-btn" type="submit" aria-label="Add bug button">
                                <span class="hide-on-small-and-down">Add</span>
                                <i class="fas fa-plus-circle icon-right" aria-hidden="true"></i>
                            </button>
                            <a class="btn waves-effect waves-light sm-md-btn" aria-label="Cancel button" onclick="history.back()">
                                <span class="hide-on-small-and-down">Cancel</span>
                                <i class="fas fa-times-circle icon-right" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}