{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}

{% block title %}{{ ticket.title }} | Details{% endblock %}

{% block page_heading %}{{ ticket.title }}{% endblock %}

{% block content %}
    
    <!-- Full ticket details -->
    <div class="row recipe-card card z-depth-1 center-align">
        <!-- Ticket Description -->
        <div class="col s12 m6 center-align recipe-img-wrapper">
            <p>{{ ticket.description }}</p>
        </div>
        <!-- Ticket Stats -->
        <div class="col s12 m6 center-align recipe-details">
            <p class="stat">
                <i class="fas fa-user-circle" aria-hidden="true"></i> 
                {{ ticket.user }}
            </p>
            <p class="stat">
                <i class="fas fa-tools" aria-hidden="true"></i>
                {{ ticket.ticket_status }}
            </p>
            <p class="stat">
                <i class="fas fa-eye" aria-hidden="true"></i>
                {{ ticket.views }}
            </p>
            <p class="stat">
                <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                {{ ticket.upvotes }}
            </p>
            <p class="stat">
                <!-- Show edited date if the ticket has been edited.
                If not, show the created date-->
                {% if ticket.edited_date %}
                    <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                    {{ ticket.edited_date }}
                {% else %}
                    <i class="fas fa-calendar-plus" aria-hidden="true"></i>
                    {{ ticket.created_date }}
                {% endif %}
            </p>
        </div>
        {% if user.is_authenticated and user.id == ticket.user.id and ticket.ticket_status.ticket_status != "Closed" %}
            <div class="col s12 center-align">
                <div class="recipe-details-break"></div>
            </div>
            <div class="col s12 center-align">
            <!-- Buttons only available when user logged in,
            if user has created the ticket,
            and ticket status is not closed -->
                <a href="" class="waves-effect waves-light btn sm-md-btn" aria-label="Edit ticket page">
                    <i class="fas fa-edit icon-left" aria-hidden="true"></i>
                    <span class="hide-on-small-and-down">Edit</span>
                </a>
                <a href="#delete_modal" class="waves-effect waves-light btn sm-md-btn modal-trigger"  aria-label="Delete ticket modal">
                    <i class="fas fa-trash-alt icon-left" aria-hidden="true"></i>
                    <span class="hide-on-small-and-down">Delete</span>
                </a>
            </div>
        {% endif %}
    </div>
    
    <!-- Upvote Section -->
    {% if user.is_authenticated %}
        <div class="row recipe-card card z-depth-1">
            {% if ticket.ticket_type.ticket_type == "Feature" %}
                <!-- Upvote button brings up a payment modal for feature tickets -->
                <div class="col s12 m6 ingredients">
                    <h3 class="card-title center-align">Want to donate for this cause?</h3>
                </div>
                <div class="col s12 m6 ingredients">
                    <a href="#payment_modal" class="waves-effect waves-light btn sm-md-btn" aria-label="Edit ticket page">
                        <i class="fas fa-edit icon-left" aria-hidden="true"></i>
                        <span class="hide-on-small-and-down">Donate &amp; Upvote</span>
                    </a>
                </div>
            {% else %}
                <!-- Allows users to upvote for free for bug tickets -->
                <div class="col s12 m6 ingredients">
                    <h3 class="card-title center-align">Want to support this cause?</h3>
                </div>
                <div class="col s12 m6 ingredients">
                    <a href="" class="waves-effect waves-light btn sm-md-btn" aria-label="Edit ticket page">
                        <i class="fas fa-edit icon-left" aria-hidden="true"></i>
                        <span class="hide-on-small-and-down">Upvote</span>
                    </a>
                </div>
            {% endif %}
        </div>
        
        <div class="row recipe-card card z-depth-1">
            <!-- Comments -->
            <div class="col s12 m6 instructions">
                <h3 class="card-title center-align">Comments</h3>
                
            </div>
        </div>
    {% endif %}
    
{% endblock %}