{% extends "base.html" %}
{% load materializecss %}
{% load staticfiles %}

{% block page_title %}{{ ticket.title }} | Details | {% endblock %}

{% block page_heading %}{{ ticket.title }}{% endblock %}

{% block content %}
    
    <!-- Full ticket details -->
    <div class="row recipe-card card z-depth-1 center-align">
        <!-- Ticket Description -->
        <div class="col s12 m6 center-align recipe-img-wrapper">
            <p>{{ ticket.description }}</p>
            <img src="{{ ticket.user.profile.image.url }}" alt="{{ ticket.user }}" class="circle"></img>
        </div>
        <!-- Ticket Stats -->
        <div class="col s12 m6 center-align recipe-details">
            <p class="stat">
                <i class="fas fa-user-circle" aria-hidden="true"></i>
                {{ ticket.user }}
            </p>
            <p class="stat">
                <i class="fas fa-tools" aria-hidden="true"></i>
                {{ ticket.ticket_status }}
            </p>
            <!-- Only display the option to edit a ticket status for superusers -->
            {% if user.is_superuser %}
                <p>
                    <small>Edit Status</small>
                    <br/>
                    <form id="change_status_form" method="GET" action="{% url 'admin_update_status' ticket.id %}">
                        {% csrf_token %}
                        <select id="ticket_status" name="ticket_status" class="form-control validate">
                            <option value="" disabled selected>Status</option>
                            {% for status in ticket_status_dropdown %}
                                <option value="{{ status.id }}">{{ status }}</option>
                            {% endfor%}
                        </select>
                        <button class="btn waves-effect waves-light sm-md-btn" type="submit" aria-label="Filter button">
                            <span class="hide-on-small-and-down">Update</span>
                            <i class="fas fa-edit icon-right" aria-hidden="true"></i>
                        </button>
                    </form>
                </p>
            {% endif %}
            <p class="stat">
                <i class="fas fa-eye" aria-hidden="true"></i>
                {{ ticket.views }}
            </p>
            <p class="stat">
                <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                {{ ticket.upvotes }}
            </p>
            <p class="stat">
                <!-- Show edited date if the ticket has been edited.
                If not, show the created date-->
                {% if ticket.created_date.date != ticket.edited_date.date %}
                    <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                    {{ ticket.edited_date|date:"j M Y" }}
                    <small>({{ ticket.edited_date|time:"P" }})</small>
                {% else %}
                    <i class="fas fa-calendar-plus" aria-hidden="true"></i>
                    {{ ticket.created_date|date:"j M Y" }}
                    <small>({{ ticket.created_date|time:"P" }})</small>
                {% endif %}
            </p>
            <!-- Total Donations - only visible on Feature tickets -->
            {% if ticket.ticket_type.ticket_type == "Feature" %}
                <!-- If the goal donation amount has been reached -->
                <p class="stat">
                    {% if ticket.total_donations >= 100 %}
                        <i class="fas fa-check" aria-hidden="true"></i>
                        Donation Goal Reached!
                    {% else %}
                        <i class="fas fa-pound-sign" aria-hidden="true"></i>
                        {{ ticket.total_donations }} / &pound;100
                    {% endif %}
                </p>
            {% endif %}
        </div>
        
        <!-- Buttons only available when user logged in, if user has created the ticket, and ticket status is not closed -->
        {% if user.is_authenticated and user.id == ticket.user.id and ticket.ticket_status.ticket_status != "Closed" %}
            <div class="col s12 center-align">
                <div class="recipe-details-break"></div>
            </div>
            <div class="col s12 center-align">
                <a href="{% url 'edit_ticket' ticket.pk %}" class="waves-effect waves-light btn sm-md-btn" aria-label="Edit ticket page">
                    <i class="fas fa-edit icon-left" aria-hidden="true"></i>
                    <span class="hide-on-small-and-down">Edit</span>
                </a>
                <a href="#delete_modal" class="waves-effect waves-light btn sm-md-btn modal-trigger"  aria-label="Delete ticket modal">
                    <i class="fas fa-trash-alt icon-left" aria-hidden="true"></i>
                    <span class="hide-on-small-and-down">Delete</span>
                </a>
            </div>
        {% endif %}
    </div>
    
    <!-- Upvote Section - only available if user is logged in and ticket isn't closed-->
    {% if user.is_authenticated and ticket.ticket_status.ticket_status != "Closed" %}
        <div class="row recipe-card card z-depth-1">
            <!-- Allow upvoting if user hasn't already upvoted -->
            {% if user.id not in user_upvotes %}
                <!-- If a Feature's donation goal hasn't been met, the user will need to donate to upvote -->
                {% if ticket.ticket_type.ticket_type == "Feature" and ticket.total_donations < 100 %}
                    <!-- Upvote button brings up a payment modal for feature tickets -->
                    <div class="col s12 m6 ingredients">
                        <h3 class="card-title center-align">Want to donate for this cause?</h3>
                    </div>
                    <div class="col s12 m6 ingredients">
                        <a href="#payment_modal" class="waves-effect waves-light btn sm-md-btn modal-trigger" aria-label="Donate and Upvote modal">
                            <i class="fas fa-thumbs-up icon-left" aria-hidden="true"></i>
                            <span class="hide-on-small-and-down">Donate &amp; Upvote</span>
                        </a>
                    </div>
                <!-- If a Feature's donation goal has been met, or if it is a Bug, users can upvote for free -->
                {% else %}
                    <div class="col s12 m6 ingredients">
                        <h3 class="card-title center-align">Want to support this cause?</h3>
                    </div>
                    <div class="col s12 m6 ingredients">
                        <a href="{% url 'upvote' ticket.pk %}" class="waves-effect waves-light btn sm-md-btn" aria-label="Upvote button">
                            <i class="fas fa-thumbs-up icon-left" aria-hidden="true"></i>
                            <span class="hide-on-small-and-down">Upvote</span>
                        </a>
                    </div>
                {% endif %}
            {% else %}
                <div class="col s12 m6 ingredients">
                    <h3 class="card-title center-align">No longer want to support this?</h3>
                </div>
                <div class="col s12 m6 ingredients">
                    <a href="{% url 'downvote' ticket.pk %}" class="waves-effect waves-light btn sm-md-btn" aria-label="Downvote button" {% if ticket.ticket_type.ticket_type == 'Feature' %}disabled{% endif %}>
                        <i class="fas fa-thumbs-down icon-left" aria-hidden="true"></i>
                        <span class="hide-on-small-and-down">Downvote</span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <!-- Comments -->
    <div class="row recipe-card card z-depth-1">
        <div class="col s12 instructions">
            <h3 class="card-title center-align">Comments</h3>
        </div>
        <div class="col s12 instructions">
            <!-- If there are comments on the ticket, they will be displayed -->
            {% if comments %}
                <ul>
                    {% for comment in comments %}
                        <li>
                            <img src="{{ comment.user.profile.image.url }}" alt="{{ comment.user }}" class="circle"></img>
                            <span>
                                {{ comment.user }}
                            </span>
                            <p>
                                {{ comment.description }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <!-- If there are no comments on the ticket, some helper text will be displayed -->
                <p class="center-align">Nobody has commented on this {{ ticket.ticket_type }}!</p>
            {% endif %}
        </div>
        <!-- Add Comment Section - only available if ticket isn't closed -->
        {% if ticket.ticket_status.ticket_status != "Closed" %}
            <div class="col s12 center-align">
                {% if user.is_authenticated %}
                    <!-- Comment Form - only available if user is logged in -->
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ comment_form | materializecss }}
                        <button type="submit" class="btn btn-primary">Add Comment</button>
                    </form>
                {% else %}
                    <!-- Links for user to login or register to add a comment if not logged in -->
                    <p>
                        <a href="{% url 'login' %}">Login</a>
                         or 
                        <a href="{% url 'registration' %}">Register</a>
                         to add a comment!
                    </p>
                {% endif %}
            </div>
        {% endif %}
    </div>
    
    <!-- Back button - only visible on tablet and below -->
    <div class="row hide-on-large-only center-align">
        <div class="col s12">
            <a class="btn waves-effect waves-light standard-btn icon-right" type="reset" aria-label="Cancel button" onclick="history.back()">
                Back to all tickets
                <i class="fas fa-step-backward" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    
    <!-- Delete Modal - Allows users to delete the relevant ticket -->
    <div id="delete_modal" class="modal">
        <div class="modal-content center-align">
            <h4 class="title">Are you sure you want to delete this ticket?</h4>
            <p class="helper italic">
                This {{ ticket.ticket_type }} will be permanently deleted if you go ahead!
            </p>
            <div class="input-field col s12 modal-btn-wrapper">
                <a class="waves-effect waves-light btn delete-yes-btn sm-md-btn" href="{% url 'delete_ticket' ticket.id %}" aria-label="Confirm delete ticket button">
                    <i class="fas fa-check" aria-hidden="true"></i>
                    <span class="hide-on-small-and-down">Yes</span>
                </a>
                <a class="modal-close waves-effect waves-light btn delete-no-btn sm-md-btn" aria-label="Do not delete ticket button">
                    <i class="fas fa-times" aria-hidden="true"></i>
                    <span class="hide-on-small-and-down">No</span>
                </a>
            </div>
        </div>
    </div>
    
    <!-- Payment Modal - Allows users to donate when upvoting a feature ticket -->
    <div id="payment_modal" class="modal">
        <div class="modal-content center-align">
            <h4 class="title">Donate &amp; Upvote</h4>
            <form method="POST" action="{% url 'upvote' ticket.pk %}" id="payment-form" data-token="{{ publishable }}">
                {% csrf_token %}
                <div class="input-field col s12">
                    {{ donation_form|materializecss }}
                </div>
                <div class="input-field col s12">
                    <!-- Stripe Payment form -->
                    <label for="card-element">
                        Credit or Debit card
                    </label>
                    <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>
                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>
                <div class="input-field col s12 modal-btn-wrapper">
                    <button class="btn waves-effect waves-light add-btn standard-btn icon-right" type="submit" aria-label="Upvote feature button">
                        <i class="fas fa-check" aria-hidden="true"></i>
                        <span class="hide-on-small-and-down">Upvote</span>
                    </button>
                    <a class="modal-close waves-effect waves-light btn delete-no-btn sm-md-btn" aria-label="Cancel upvote button">
                        <i class="fas fa-times" aria-hidden="true"></i>
                        <span class="hide-on-small-and-down">Cancel</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
    
{% endblock %}

{% block js %}
    <!-- Stripe payment API tag -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- stripe.js file tag -->
    <script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
