{% extends 'base.html' %}

{% load materializecss %}
{% load staticfiles %}

{% block page_title %}Login Page{% endblock %}

{% block page_heading %}Login{% endblock %}

{% block content %}
    
    <!--Login form-->
    <form method="POST" action="{% url 'login' %}?next={{ next }}" class="accountform">
        <fieldset class="form-group">
            <legend>Login</legend>
            {% csrf_token %}
            {{ login_form.username|materializecss:'icon=fas fa-user' }}
            {{ login_form.password|materializecss:'icon=fas fa-lock' }}
            
            <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>
             
            <button type="submit" class="btn btn-primary">
                Login
                <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
            </button>
        </fieldset>
    </form>
    
{% endblock %}