{% extends 'base.html' %}

{% load materializecss %}
{% load staticfiles %}

{% block page_title %}{{ user.username }}'s Profile{% endblock %}

{% block page_heading %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
    
    <div class="row recipe-card card z-depth-1 center-align">
        <!-- User Details -->
        <div class="col s6 media ingredients">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        </div>
        <div class="col s6 media ingredients">
            <p class="text-secondary">
                <i class="fas fa-signature" aria-hidden="true"></i>
                {{ user.first_name }} {{ user.last_name }}
            </p>
            <p class="text-secondary">
                <i class="fas fa-user-circle" aria-hidden="true"></i>
                Username: {{ user.username }}
            </p>
            <p class="text-secondary">
                <i class="fas fa-at" aria-hidden="true"></i>
                Email: {{ user.email }}
            </p>
        </div>
    </div>
        <form method="POST" action="" class="userform" enctype="multipart/form-data">
            <fieldset class="form-group">
                <legend>Edit Your Details</legend>
                {% csrf_token %}
                {{  user_form.email|materializecss:'icon=fas fa-at' }}
                {{  user_form.first_name|materializecss:'icon=fas fa-signature' }}
                {{  user_form.last_name|materializecss:'icon=fas fa-signature' }}
                {{  profile_form.image|materializecss }}
                <button type="submit" class="btn btn-primary">Update</button>
            </fieldset>
        </form>      
    </div>

{% endblock %}