{% extends 'base.html' %}
{% load materializecss %}
{% load staticfiles %}

{% block page_title %}{{ user.username }}'s Profile | {% endblock %}

{% block page_heading %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
    
    <div class="row recipe-card card z-depth-1 center-align">
        <!-- User Details -->
        <div class="col s6 media ingredients">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        </div>
        <div class="col s6 media ingredients">
            <p class="text-secondary">
                <i class="fas fa-signature" aria-hidden="true"></i>
                {{ user.first_name }} {{ user.last_name }}
            </p>
            <p class="text-secondary">
                <i class="fas fa-user-circle" aria-hidden="true"></i>
                Username: {{ user.username }}
            </p>
            <p class="text-secondary">
                <i class="fas fa-at" aria-hidden="true"></i>
                Email: {{ user.email }}
            </p>
        </div>

        <!-- Account Management Buttons -->
        <div class="col s12 acc-management-wrapper">
            <!--Change Password Modal Button-->
            <a href="#edit_profile_modal" class="waves-effect waves-light btn modal-trigger change-pwd-btn large-btn icon-left"  aria-label="Change password modal">
                <i class="fas fa-edit" aria-hidden="true"></i>
                Edit Profile
            </a>
        </div>
    </div>

    <div class="row recipe-card card z-depth-1">
        <div class="col s12 m6">
            <h3 class="card-title center-align">
                <i class="fas fa-bug" aria-hidden="true"></i>
                My Bugs
            </h3>
            <ul class="collection collection-wrapper">
                <!--If the user has added bugs, these will be displayed as a list-->
                {% for ticket in user_tickets %}
                    {% if ticket.ticket_type.ticket_type == "Bug" %}
                        <li class="collection-item avatar">
                            <a href="{% url 'view_single_ticket' ticket.id %}" aria-label="View ticket details">
                                <h5>{{ ticket.title }}</h5>
                                <p class="title truncate">{{ ticket.description }}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <!-- Link to submit a new Bug report -->
            <p class="center-align">Submit a new 
                <a href="{% url 'new_bug_ticket' %}" class="bold italic"  aria-label="New bug page">
                    Bug Report
                </a>
            </p>
        </div>
        <div class="col s12 m6">
            <h3 class="card-title center-align">
                <i class="fas fa-cogs" aria-hidden="true"></i>
                My Features
            </h3>
            <ul class="collection collection-wrapper">
                <!--If the user has added Features, these will be displayed as a list-->
                {% for ticket in user_tickets %}
                    {% if ticket.ticket_type.ticket_type == "Feature" %}
                        <li class="collection-item avatar">
                            <a href="{% url 'view_single_ticket' ticket.id %}" aria-label="View ticket details">
                                <h5>{{ ticket.title }}</h5>
                                <p class="title truncate">{{ ticket.description }}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <!-- Link to submit a new Feature request -->
            <p class="center-align">Submit a new 
                <a href="{% url 'new_bug_ticket' %}" class="bold italic"  aria-label="New bug page">
                    Feature Request
                </a>
            </p>
        </div>
    </div>

    <!-- Edit Account Modal -->
    <div id="edit_profile_modal" class="modal">
        <div class="modal-content center-align">
            <h4 class="title">Edit Profile</h4>
            <form method="POST" action="" class="userform" enctype="multipart/form-data">
                <fieldset class="form-group">
                    <legend>Edit Your Details</legend>
                    {% csrf_token %}
                    {{  user_form.email|materializecss:'icon=fas fa-at' }}
                    {{  user_form.first_name|materializecss:'icon=fas fa-signature' }}
                    {{  user_form.last_name|materializecss:'icon=fas fa-signature' }}
                    {{  profile_form.image|materializecss }}
                    <button type="submit" class="btn btn-primary">Update</button>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}