{% extends 'base.html' %}
{% load materializecss %}
{% load staticfiles %}

{% block page_title %}{{ user.username }}'s Profile | {% endblock %}

{% block page_heading %}{{ user.username }}'s Profile{% endblock %}

{% block content %}
    
    <div class="row ticket-card card z-depth-1 center-align">
        <!-- User Details -->
        <div class="col s12 media">
            <img class="circle account-img" src="{{ user.profile.image.url }}">
            <p class="text-secondary">
                <i class="fas fa-signature" aria-hidden="true"></i>
                {{ user.first_name }} {{ user.last_name }}
            </p>
            <p class="text-secondary">
                <i class="fas fa-user-circle" aria-hidden="true"></i>
                {{ user.username }}
            </p>
            <p class="text-secondary">
                <i class="fas fa-at" aria-hidden="true"></i>
                {{ user.email }}
            </p>
        </div>

        <!-- Account Management Buttons -->
        <div class="col s12 acc-management-wrapper">
            <!--Change Password Modal Button-->
            <a href="#edit_profile_modal" class="waves-effect waves-light btn modal-trigger change-pwd-btn large-btn"  aria-label="Edit Profile modal">
                <i class="fas fa-edit icon-left" aria-hidden="true"></i>
                Edit Profile
            </a>
        </div>
    </div>

    <div class="row ticket-card card z-depth-1">
        <div class="col s12 m6 profile-bugs">
            <h3 class="card-title center-align">
                <i class="fas fa-bug" aria-hidden="true"></i>
                My Bugs
            </h3>
            <ul class="collection collection-wrapper">
                <!--If the user has added bugs, these will be displayed as a list-->
                {% for ticket in user_tickets %}
                    {% if ticket.ticket_type.ticket_type == "Bug" %}
                        <li class="collection-item avatar">
                            <a href="{% url 'view_single_ticket' ticket.id %}" aria-label="View Bug Details">
                                <h5 class="title bold">{{ ticket.title }}</h5>
                                <p class="helper italic truncate">{{ ticket.description }}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <!-- Link to submit a new Bug report -->
            <p class="center-align">Submit a new 
                <a href="{% url 'new_bug_ticket' %}" class="bold italic nav-link"  aria-label="New Bug Page">
                    Bug Report
                </a>
            </p>
        </div>
        <div class="col s12 m6 profile-features">
            <h3 class="card-title center-align">
                <i class="fas fa-cogs" aria-hidden="true"></i>
                My Features
            </h3>
            <ul class="collection collection-wrapper">
                <!--If the user has added Features, these will be displayed as a list-->
                {% for ticket in user_tickets %}
                    {% if ticket.ticket_type.ticket_type == "Feature" %}
                        <li class="collection-item avatar">
                            <a href="{% url 'view_single_ticket' ticket.id %}" aria-label="View Feature Details">
                                <h5 class="title bold">{{ ticket.title }}</h5>
                                <p class="helper italic truncate">{{ ticket.description }}</p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <!-- Link to submit a new Feature request -->
            <p class="center-align">Submit a new 
                <a href="{% url 'new_feature_ticket' %}" class="bold italic nav-link"  aria-label="New Feature Page">
                    Feature Request
                </a>
            </p>
        </div>
    </div>

    <!-- Edit Account Modal -->
    <div id="edit_profile_modal" class="modal">
        <div class="modal-content center-align">
            <h4 class="title">Edit Profile</h4>
            <form id="edit_profile_form" method="POST" class="userform" enctype="multipart/form-data">
                {% csrf_token %}
                {{  user_form.email|materializecss:'icon=fas fa-at' }}
                {{  user_form.first_name|materializecss:'icon=fas fa-signature' }}
                {{  user_form.last_name|materializecss:'icon=fas fa-signature' }}
                {{  profile_form.image|materializecss }}
                <button type="submit" class="btn btn-primary large-btn" aria-label="Update Profile Changes button">
                    Update
                    <i class="fas fa-edit icon-right" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </div>

{% endblock %}