<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %}{% endblock %}UnicornAttractor</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- c3 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.11/c3.min.css" type="text/css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!--Link for Favicon-->
    <link rel="icon" sizes="192x192" href="{% static 'img/favicon-logo.ico' %}" type="image/x-icon">

</head>
<body>

    <header class="container-fluid">

        <!--NAVBAR-->
        <!--Main Nav-->
        <nav class="nav-extended">
            <div class="nav-wrapper">
                <a href="{% url 'index' %}" class="brand-logo collection-item avatar"  aria-label="Brand logo and link to home page">
                    <img class="circle" src="{% static 'img/favicon-logo.png' %}" alt="UnicornAttractor Logo">
                    UnicornAttractor
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"  aria-label="Sidenav trigger">
                    <i class="fas fa-bars" aria-hidden="true"></i>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="{% url 'index' %}" aria-label="Home page">
                            <i class="btn-icon fas fa-home" aria-hidden="true"></i>
                            <span class="btn-text uppercase">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'view_all_tickets' %}" aria-label="Tickets page">
                            <i class="btn-icon fas fa-ticket-alt" aria-hidden="true"></i>
                            <span class="btn-text uppercase">Tickets</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard_stats' %}" aria-label="Dashboard page">
                            <i class="btn-icon fas fa-chart-bar" aria-hidden="true"></i>
                            <span class="btn-text uppercase">Dashboard</span>
                        </a>
                    </li>
                    <!--Additional options if user is logged in-->
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'profile' %}" aria-label="Profile page">
                                <i class="btn-icon fas fa-user" aria-hidden="true"></i>
                                <span class="btn-text uppercase">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" aria-label="Logout">
                                <i class="btn-icon fas fa-sign-out-alt" aria-hidden="true"></i>
                                <span class="btn-text uppercase">Logout</span>
                            </a>
                        </li>
                    <!--If there is no user in session-->
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}" aria-label="Login page">
                                <i class="btn-icon fas fa-sign-in-alt" aria-hidden="true"></i>
                                <span class="btn-text uppercase">Login</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'registration' %}" aria-label="Registration page">
                                <i class="btn-icon fas fa-user-plus" aria-hidden="true"></i>
                                <span class="btn-text uppercase">Register</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!--End Main Nav-->
        <!--Mobile Side Nav-->
        <ul class="sidenav" id="mobile-demo">
            <li>
                <a href="{% url 'index' %}" class="brand-logo collection-item avatar"  aria-label="Brand logo and link to home page">
                    <img class="circle" src="{% static 'img/favicon-logo.png' %}" alt="UnicornAttractor Logo">
                    UnicornAttractor
                </a>
            </li>
            <li>
                <a href="{% url 'index' %}" aria-label="Home page">
                    <i class="btn-icon fas fa-home" aria-hidden="true"></i>
                    <span class="btn-text uppercase">Home</span>
                </a>
            </li>
            <li>
                <a href="{% url 'view_all_tickets' %}" aria-label="Tickets page">
                    <i class="btn-icon fas fa-ticket-alt" aria-hidden="true"></i>
                    <span class="btn-text uppercase">Tickets</span>
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard_stats' %}" aria-label="Dashboard page">
                    <i class="btn-icon fas fa-chart-bar" aria-hidden="true"></i>
                    <span class="btn-text uppercase">Dashboard</span>
                </a>
            </li>
            <!--Additional options if user is logged in-->
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'profile' %}" aria-label="Profile page">
                        <i class="btn-icon fas fa-user" aria-hidden="true"></i>
                        <span class="btn-text uppercase">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}" aria-label="Logout">
                        <i class="btn-icon fas fa-sign-out-alt" aria-hidden="true"></i>
                        <span class="btn-text uppercase">Logout</span>
                    </a>
                </li>
            <!--If there is no user in session-->
            {% else %}
                <li>
                    <a href="{% url 'login' %}" aria-label="Login page">
                        <i class="btn-icon fas fa-sign-in-alt" aria-hidden="true"></i>
                        <span class="btn-text uppercase">Login</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'registration' %}" aria-label="Registration page">
                        <i class="btn-icon fas fa-user" aria-hidden="true"></i>
                        <span class="btn-text uppercase">Register</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <!--End Mobile Side Nav-->
        
        </nav>
        <!--END NAVBAR-->
    </header>

    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!--MAIN CONTENT-->
    <main class="container">
            <!--Page Heading-->
            <h1 class="center-align">{% block page_heading %}{% endblock %}</h1>
            {% block content %}
            {% endblock %}
    </main>
    
    <!--FOOTER-->
    <footer class="page-footer container-fluid">
        <div class="container">
            <div class="row center-align">
                <div class="col s12 m6">
                    &copy; <strong>UnicornAttractor</strong>
                </div>
                <div class="col s12 m6 social-links">
                    <!--Link to my GitHub repository for this project-->
                    <a href="https://github.com/hebs87/cookbook-milestone-project-three" target="_blank" rel="noopener" aria-label="GitHub - hebs87">
                        <i class="fab fa-github-square" title="hebs87" aria-hidden="true"></i>
                    </a>
                    <!--Link to my LinkedIn profile-->
                    <a href="https://www.linkedin.com/in/sunny-hebbar-0b3008174/" target="_blank" rel="noopener" aria-label="LinkedIn - Sunny-Hebbar">
                        <i class="fab fa-linkedin" title="Sunny-Hebbar" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery script tag -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Materialize script tag -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.11/c3.min.js"></script>
    {% block js %}
    {% endblock %}
    <!-- Custom JS file script tag -->
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>